$mainBackground: #ebeef3;

$textColor: rgba(0, 0, 0, 0.75);
$textColorSecondary: rgba(0, 0, 0, 0.5);
$disabledColor: rgba(0, 0, 0, 0.35);

$backgroundColor: #ebeef3;

$primaryColor: #1890ff;
$primaryColorHover: rgba(24, 144, 255, 0.75);
$infoColor: #1890ff;
$successColor: #52c41a;
$successColorHover: rgba(82, 196, 26, 0.5);
$errorColor: #f5222d;
$headingColor: rgba(0, 0, 0, 0.5);
$highlightColor: #f5222d;
$backgroundColorBase: #ffffff;

$fontSizeSmall: 12px;
$fontSizeBase: 14px;
$fontSizeH6: 18px;
$fontSizeH5: 20px;

$borderRadiusBase: 5px;

%container {
  background: $backgroundColorBase;
  border-radius: $borderRadiusBase;
}

%containerForm {
  width: 100%;
  max-width: 384px;
  padding: 48px 32px;
  margin-top: 59px;
  @extend %container;
}

%focus {
  box-shadow: 0 0 0 1px #4A90E2, 0 0 0 2px #2196f3;
  border-radius: 4px;
}
