@import '../../../assets/scss/vars';

.root {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.tittle {
  font-size: $fontSizeH6;
  color: $headingColor;
  margin: 0;
  font-weight: normal;
  padding-bottom: 5px;
}
