@import '../../../../assets/scss/vars';

.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.alerts {
	position: absolute;
	width: 100%;
	max-width: 500px;
}
.spin {
	position: absolute;
	margin: 12px auto 0;
}
.content {
	@extend %containerLargeForm;
}
