@import '../../../assets/scss/vars';

.root {
	font-family: Roboto, serif;
}

.header {
	margin-bottom: 21px;
}

.field {
	margin-bottom: 21px;
}

.textArea {
	height: max-content;
}

.button {
	margin-bottom: 8px;

	&Middle {
		width: 319px;
	}
}

.text {
	text-align: center;
	&Link {
		color: $primaryColor;
	}
}

.link:global(.focus-visible) {
	@extend %focus;
}
